body {
  background-image: linear-gradient(white, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

html, body, div.flexContainer, div#firstMultDiv:not(.multiModeCard) {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#buttonBar {
  align-self: center;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

#catContainer:not(.flexContainer) {
 align-self: center;
 text-align: center;
}

.multiModeCard{
  /* default size */
  height: 200px;
  width: 200px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 10px;
  text-align: center;
}

#catContainer div{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#catContainer div:not(.occupied), .hidden {
  display: none;
}

.imageButton {
  float: right;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  line-height: 18px;
}

.imageButton:disabled {
  visibility: hidden;
}

.deleteButton {
  background-color: red;
}

.addFaveButton {
  background-color: green;
}
