body {
  background-image: url("background.png");
}

img {
  max-width: 100%;
  max-height: 100%;
}

.multiModeCard{
  /* default size */
  height: 200px;
  width: 200px;
  border-style: solid;
  border-radius: 5px;
}

#catContainer div{
  /* singleCat's setting */
}

#catContainer div:not(.occupied), .hidden {
  display: none;
}

.imageButton {
  position: absolute;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 18px;
}

.deleteButton {
  background-color: red;
}

.addFaveButton {
  background-color: green;
}
