body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: teal;
  background-size: cover;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.border-red {
  border: 3px solid red;
  background-color: rgb(255, 255, 255, .2);
}


.catContainer {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.faveButton {
  position: absolute;
  right: 0;
}

.transparentBackground {
  background-color: rgb(179, 255, 255, .5);
}

.loadererrorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  color: blue;
  font-size: 300px;
}

.errMessage {
  background-color: rgb(179, 255, 255, .5);
  border-radius: 5px;
  color: darkred;
}
