body {
  background-image: linear-gradient(white, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.border {
  border: 1px solid red;
  background-color: rgb(255, 255, 255, .2);
}