body {
  background-image: linear-gradient(white, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body, #root, .full-height {
  height: 100%;
}

.full-height-width {
  min-height: 100%;
  width: 100%;
}

.border {
  border: 1px solid red;
  background-color: rgb(255, 255, 255, .2);
}

.element-enter {
  opacity: 0;
}

.element-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in, margin 300ms ease-out;
}

.element-exit {
  opacity: 1;
}

.element-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out, margin 300ms ease-in;
}

.faveButton {
  position: absolute;
  right: 0;
}